<!-- FOOTER.TPL -->
<footer class="footer-container">
    <div class="container ">
        <div class=" nav-wrapper">
            <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                <ul class="legals">
                    <li><a >&copy; {{currentyear}} Ganesan Karuppaiya</a></li>
                   
                </ul>
            </div>
            <div class="col-md-6 text-right">
                <p>Designed &amp; Developed by Ganesan Karuppaiya</p>
            </div>
        </div>
    </div>
</footer>