<div class="scroll-page scrollme" ng-view>
    <div ng-include="'views/header.html'"></div>
    <div class="" id="fsvs-body">

        <div class="slide home-page ">
            <!--slide 1 -->
            <div class="circular-animation">
                <div class="loader"> <i class="fa fa-circle-o-notch  fa-spin"></i> </div>
                <div class="home-main">
                    <!-- Cricle -->
                    <div class="circle">
                        <!-- Description Block -->
                        <div class="description"></div>
                        <!-- End Description Block -->

                        <!-- List of Triggers -->
                        <ul class="triggers">
                            <li ng-repeat="homeSocialItem in homeSocialDataSet" class="trigger-item" data-title="{{homeSocialItem.name}}" style="transform: rotate({{homeSocialItem.angle}}deg) translate(0px, -160px); animation-delay: {{homeSocialItem.delay}}s;" count="{{$index}}" social-home-complete>
                                <a href="{{homeSocialItem.url}}" data-type="link" data-title="{{homeSocialItem.title}}" target="_blank">
                                    <i class="fa {{homeSocialItem.icon}}" style="transform: rotate({{homeSocialItem.iangle}}deg) "></i></a>
                            </li>

                        </ul>
                        <!-- End List of Triggers -->
                    </div>
                    <!-- End Circle -->
                    <!-- Main Info -->
                    <div class="main_info">
                        <h1 class="cabin" > <a ng-href="{{homeSocial.link}}" target="_blank" ng-bind-html="homeSocial.title"></a></h1>
                        <h4 class="fjalla" ><a ng-href="{{homeSocial.link}}" target="_blank"  ng-bind-html="homeSocial.stitle"></a></h4>
                        <a ng-click="gotoElement('middle')">
							<span class="fa-stack fa-lg  animated infinite fadeInDown ">
							  <i class="fa fa-circle fa-stack-2x"></i>
							  <i class="fa fa-angle-double-down fa-stack-1x fa-inverse"></i>
							</span> 
						</a>
                    </div>
                    <!-- End Main Info -->
                </div>
            </div>
            <!--slide 1-->

        </div>
        <div class="slide white-content home-about-mini">
            <!-- slide 2 -->
            <div class="container">
                <div class=" table putpage1Height ">
                    <div class=" text-left dtable  ">
                        <div class="dtable-cell" style="vertical-align:bottom">
                            <div class="container">
                                <div class="row">
                                    <!-- TEXT -->
                                    <div class="col-md-5 pb-40">
                                        <div class="section-title2  font-light ">
                                            <h2 >  <a ng-href="{{homeAbout.link}}" ng-bind-html="homeAbout.title"></a></h2>
                                        </div>
                                    </div>

                                    <!-- FEATURES -->
                                    <div class=" col-md-6 ">

                                        <div class="row">

                                            <div ng-repeat="homeAboutItem in homeAbout.value" class="col-sm-12 feature-1 wp1 {{homeAboutItem.class}}">
												
												<div class="feature-content">
													<h1 ng-bind-html="homeAboutItem.name"></h1>
													<div ng-bind-html="homeAboutItem.desc"></div>
												</div>
											</div>

                                            <div class="col-md-12">
                                                <div class="fes5-box wow fadeIn" data-wow-delay="600ms" style="visibility: visible; animation-delay: 600ms; animation-name: fadeIn;">
                                                    <a ng-href="{{homeAbout.link}}" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- slide 2-->
        </div>
        <div class="slide home-about-page">
            <!--slide 3-->
            <div class="container-fluid dtable">
                <div class="dtable-cell" style="vertical-align:bottom">
                    <section class="features-list" id="features">
                        <div class="container">

                           
                             <h2 class="claim cabin text-center wp2" >  <a ng-href="{{homeService.link}}" ng-bind-html="homeService.title"></a></h2>
							<div class="row  hom-seperator blue wp2">
                                <div class="col-xs-5">
                                    <hr>
                                </div>
                                <div class="col-xs-2 text-center">
                                    <a ng-href="{{homeService.link}}">
                                        <span class="fa-stack fa-lg">
											<i class="fa fa-circle fa-stack-2x"></i>
											<i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
										</span>
									</a>
                                </div>
                                <div class="col-xs-5">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-repeat="homeAboutItem in homeService.value" class="col-sm-4 feature-1 wp2 {{homeAboutItem.class}}">
                                    <div class="feature-icon">
                                        <img ng-src="{{homeAboutItem.img}}">
                                    </div>
                                    <div class="feature-content">
                                        <h1>{{homeAboutItem.name}}</h1>
                                        <p>{{homeAboutItem.desc}}</p>  </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!--slide 3-->
        </div>
        <div class="slide home-blog-page hp_blog">
            <!--slide 4-->

            <div class="container-fluid dtable">
                <div class="dtable-cell" style="vertical-align:bottom">
                    <section class="blogging-list" id="features">
                        <div class="container">
							 <h2 class="claim cabin text-center wp3" >  <a ng-href="{{homeBlog.link}}" ng-bind-html="homeBlog.title"></a></h2>
							
                            <div class="row  hom-seperator dblue wp3">
                                <div class="col-xs-5">
                                    <hr>
                                </div>
                                <div class="col-xs-2 text-center">
                                    <a ng-href="{{homeBlog.link}}">
                                        <span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
						</span></a>
                                </div>
                                <div class="col-xs-5">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-sm-4 blogging-1 wp3" ng-repeat="homeBlogItem in homeBlogData" ng-if="$index < 3">
                                    <div class="blogging-icon">
                                        <div class="overlay-effect effects clearfix">
                                            <div class="img" >
                                                <img src="" alt="{{homeBlogItem.title.rendered}}" draggable="false" postimage title="{{homeBlogItem.featured_media}}">
                                                <div class="overlayblog">
                                                    <a ng-href="{{homeBlogItem.link}}" target="_blank" class="expand"><i class="fa fa-chevron-circle-right"></i><br>Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blogging-content">
                                        <div class="row">
                              
                                            <div class="col-xs-12">
											
                                                <h4><a ng-href="{{homeBlogItem.link}}" target="_blank"   >{{homeBlogItem.title.rendered}}  </a></h4>
                                                <div class="bloglistdate  "><i class="fa fa-calendar"></i> {{homeBlogItem.date | date:"MM/dd/yyyy 'at' h:mma"}}  </div>
												<div class="homegriddesc text-justify" ng-bind-html="homeBlogItem.excerpt.rendered"> </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>




                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!--slide 4-->
        </div>
        <div class="slide darkbg">
            <!--slide 5-->
            <div class=" dtable">
                <div class="dtable-cell" style="vertical-align:middle">

                    <section class=" text-center section-padding contact-wrap" id="contact">

                        <div class="container ">
                            <h2 class="claim cabin text-center wp3"></h2>
                            <h2 class="claim cabin text-center wp3" >  <a ng-href="{{homeContact.link}}" ng-bind-html="homeContact.title"></a></h2>
							
							<div class="row hom-seperator grey wp3">
                                <div class="col-xs-5">
                                    <hr>
                                </div>
                                <div class="col-xs-2 text-center">
                                    <a ng-href="{{homeContact.link}}">
                                        <span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
						</span></a>
                                </div>
                                <div class="col-xs-5">
                                    <hr>
                                </div>
                            </div>
                            <div class="row contact-details">
                                <div class="col-sm-4" ng-repeat="homeContactItem in homeContact.value" >
                                    <div class="light-box box-hover">
                                        <h1><i class="fa {{homeContactItem.img}}"></i><span> {{homeContactItem.name}}</span></h1>
                                        <p><a href="{{homeContactItem.url}}" target="_blank"> {{homeContactItem.desc}}</a></p>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="social-buttons">
                                        <li><a href="http://facebook.com/ganesan.karuppaiyah" target="_blank" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="http://twitter.com/ganesankar" target="_blank" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div ng-include="'views/footer.html'"></div>
                    </section>
                </div>
            </div>
            <!--slide 5-->
        </div>


    </div>
</div>
<script>
</script>