<!-- PAGE.TPL -->
<div class="scroll-page content-page hp_page ">
    <div ng-include="'views/header.html'"></div>
    <div class="container text-center page-header">
        <h2 class="cabin"> <span id="js-rotating" slide-title> {{pageData.name}}</span></h2>
        <div ng-bind-html="renderHtml(pageData.sdesc)"> </div>
    </div>
    <div class="container text-justify">
        <div class="row ">
            <div class="col-sm-10 col-md-offset-1 text-justify  text-white  ">
                <div ng-bind-html="renderHtml(pageData.desc)"> </div>
            </div>
        </div>
    </div>
    <div ng-include="'views/footer.html'"></div>
</div>